#chatContainer {
    padding: 20px;
    max-width: 600px;
    margin: 60px auto;
}

.info {
    margin-bottom: 10px;
}

#messages {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.me {
    background-color: #d1e7dd;
    text-align: right;
}

.other {
    background-color: #ccc;
    text-align: left;
}

#messageForm {
    display: flex;
    gap: 10px;
}

#messageInput {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 16px;
    background-color: #0A275C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #0e3475;
}

.nova-mensagem {
  background-color: #d4edda; /* verde claro */
  border-left: 5px solid #28a745; /* borda verde */
}

#voltarBtn {
  background-color: #0A275C;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#voltarBtn:hover {
  background-color: #063773;
}


@media (max-width: 600px) {
    #chatContainer {
    margin-top: 20px;
    }

    form {
    flex-direction: column;
    }

    input,
    button {
    width: 100%;
    }
    .message {
    align-items: stretch;
  }

  .message button {
    width: 20%;
  }

  .message span {
    text-align: center;
  }
}
