body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-inicio {
  background-color: #0A275C;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
}

.img-logo {
  height: 50px;
}

.nav-icons {
  display: flex;
  gap: 20px;
}

.nav-icons a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 6px 10px;
  background-color: #0984e3;
  border-radius: 10px;
}


@media (max-width: 600px) {
  .header-inicio {
    top: auto !important;
    bottom: 0 !important;
    position: fixed !important;
  }
}

